@font-face {
  font-family: 'Futura';
  font-weight: 300;
  font-stretch: condensed;
  src: url('./assets/fonts/FuturaStd-CondensedLight.otf') format('opentype');
}

@font-face {
  font-family: 'Futura';
  font-weight: 300;
  src: url('./assets/fonts/FuturaStd-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Futura';
  font-weight: 400;
  src: url('./assets/fonts/FuturaStd-Book.otf') format('opentype');
}

@font-face {
  font-family: 'Futura';
  font-weight: 500;
  src: url('./assets/fonts/FuturaStd-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Futura';
  font-weight: 700;
  src: url('./assets/fonts/FuturaStd-Bold.otf') format('opentype');
}
