/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Universal
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* Apply styling to all elements (including their `::before` and `::after`
pseudo-elements). One common use of this selector is to apply a custom
`box-sizing`. */
*, *::before, *::after { box-sizing: border-box; }


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Root
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

:root {
    --border: 1px solid currentColor;
    --padding: 1rem;
    --border-thick: 0;
    --measure: 90ch;

    // Blue
    --blue-100: #000e1f;
    --blue-200: #122941;
    --blue-300: #304a63;
    --blue-400: #506d85;
    --blue-500: #658599;
    --blue-600: #87afc9;
    --blue-700: #abcbdb;
    --blue-800: #cfe5ed;
    --blue-900: #f2fcff;

    // Yellow
    --yellow-100: #331b00;
    --yellow-200: #935b06;
    --yellow-300: #cd931e;
    --yellow-400: #e7bd49;
    --yellow-500: #f0da82;
    --yellow-600: #f3ebb8;
    --yellow-700: #f8f3dd;
    --yellow-800: #fcf9f2;
    --yellow-900: #fffdfa;

    // Green
    --green-100: #003331;
    --green-200: #074745;
    --green-300: #115b59;
    --green-400: #1f6f6c;
    --green-500: #318380;
    --green-600: #479694;
    --green-700: #61aaa9;
    --green-800: #7ebebd;
    --green-900: #9fd2d1;
}
html {
    // font-size: 1.125rem;
    scroll-behavior: smooth;
}
body {
    background-color: var(--blue-500);
    color: var(--blue-800);
    font-family: 'Futura';
    line-height: 1.4;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Content sectioning
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

h1, h2, h3, h4, h5, h6 { font-family: Futura; }
h1 {
    font-size: clamp(4em, 10vw, 6em);
    font-weight: 500;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
}
h2 {
    font-size: 4em;
    letter-spacing: -0.02em;
    margin-block-end: 1em;
}
h3 {
    font-size: 1em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
h4 { font-size: 1.25em; }
h5 { font-size: 1.125em; }
h6 { font-size: 1em; }

header {
    background-image: linear-gradient(to bottom, var(--blue-400), transparent);
    color: var(--blue-800);
    padding: var(--padding);
    position: sticky;
    inset-block-start: 0;
    z-index: 1;
    font-size: 1.25em;
}

header a[href="#home"] {
    font-size: 1.5em;
    font-weight: 500;
}

nav {}
nav ul, nav ol { --space: 1rem; }
nav li {
    --size: 0.5em;
    font-size: var(--size, 1em);
    font-weight: 500;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}
nav a {
    padding-block: 1.25rem;
    position: relative;
}
nav a:visited {}
nav a:hover {}
nav a:active {}

nav a::after {
    content: '';
    background-color: var(--yellow-600);
    height: 3px;
    position: absolute;
    inset-block-end: 0;
    inset-inline-start: 0;
    width: 100%;
    transform: scaleX(0);
    transition: transform 125ms ease;
}
nav a:not(.highlight a):hover::after {
    transform: scaleX(1);
    transition: transform 250ms ease;
}

main {}

article {}

section {
    padding-block: 5rem;
    scroll-margin-block-start: 5rem;
}

aside {}

footer {
    background-color: var(--blue-300);
    color: var(--blue-500);
    font-size: 0.875em;

    div {
        padding: var(--padding);
    }

    p {
        background-color: var(--blue-200);
        padding: var(--padding);
    }
}

address {}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Text block content
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* Overall styling, e.g. vertical spacing */
p, ol, ul, pre, blockquote, figure, hr, dl { max-width: var(--measure); }

p {}

ol, ul {}
ol {}
ul {}
li {}
ol ol, ol ul, ul ul, ul ol {}
li li {}

pre {}
pre code {}
pre samp {}

blockquote {}

figure {
    box-shadow:
        0 2px 4px hsl(207 70% 10% / 0.2),
        0 4px 8px hsl(207 70% 10% / 0.14),
        0 8px 16px hsl(207 70% 10% / 0.12);
    background-color: var(--blue-600);
    border-radius: 2px;
}

figure picture {
    border-top: 1px solid hsl(0 0% 100% / 0.12);
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);
}

figcaption {
    color: var(--blue-300);

    p:first-child {
        font-size: 1.25rem;
        margin-block-end: .25rem;
    }
    address {
        margin-block-start: 1rem;
    }
}

hr {}

dl {}
dt {}
dd {}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Inline text semantics
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

a { cursor: pointer; }
a:visited {}
a:hover {}
a:active {}

strong {}
b {}

em {}
i {}

q {}
cite {}

s {}

mark {}

/* If you specify a font size, consider using the `em` unit so that it works
universally, e.g. for both `h1 small` and `p small` */
small {}
sub {}
sup {}

code {}

dfn {}
abbr {}
abbr[title] {}

var {}
kbd {}
kbd kbd {}
samp {}

u {}

data {}
time {}
time span {
    font-size: 0.75em;
    padding-inline-start: 0.125em;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Demarcating edits
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

del {}
ins {}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Embedded content
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

img { display: block; }
svg {}
video {}
canvas {}
audio {}
object {}

noscript {}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Table content
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

table {}
caption {}
col:first-child {}
thead {}
tbody {}
tfoot {}
tr {}
th {}
td {}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Forms
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

fieldset {}
fieldset:disabled {}
legend { margin-block-end: 0.375rem; }

form {
    margin-block: 3rem;
}

label {}

::placeholder {}
:focus::placeholder {}

/* Overall styling, e.g. vertical spacing */
input, textarea, select, button {
    // border: 1px solid currentColor;
    padding: 0.5rem;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

/* `textarea` and `input` elements that share a similar look and similar styling
capabilities */
/* - common styling */
textarea,
input,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="search"],
input[type="url"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="time"] {
    border: 1px solid currentColor;
    inline-size: 100%;
    margin-block-start: 0.375rem;
    padding: 0.5rem 0.5rem 0.375rem;
}
/* - individual styling */
textarea {}
input[type="text"] {}
input[type="password"] {}
input[type="email"] {}
input[type="tel"] {}
input[type="number"] {}
input[type="search"] {}
input[type="url"] {}
input[type="date"] {}
input[type="datetime-local"] {}
input[type="month"] {}
input[type="week"] {}
input[type="time"] {}
/* Tick boxes */
label:has(input[type="checkbox"]), label:has(input[type="radio"]) {
    accent-color: var(--yellow-600);
    cursor: pointer;
    margin-block-start: 0;
    border: 1px solid currentColor;
    padding: 0.5rem;
}
label:has(input[type="checkbox"]:checked), label:has(input[type="radio"]:checked) {
    background-color: var(--yellow-600);
    border: 1px solid var(--yellow-600);
    color: var(--blue-500);
}
label:has(input[type="checkbox"]:checked):hover, label:has(input[type="radio"]:checked):hover {
    background-color: var(--yellow-500);
    border: 1px solid var(--yellow-500);
    color: var(--blue-500);
}
input[type="checkbox"] {
    display: none;
    order: -1;
    margin-inline-start: 0;
    margin-inline-end: 0.375rem;
    top: 2px;
    position: relative;
}
input[type="checkbox"]:checked {}
input[type="radio"] { display: none; }
input[type="radio"]:checked {}
/* Other input fields, some with limited styling capabilities */
input[type="file"] {}
input[type="color"] {}
input[type="range"] {}

select {}
optgroup {}
option {}
option:checked {}
datalist {}

button[type="submit"],
input[type="submit"] {
    background-color: var(--color);
    border: 3px solid var(--background-color);
    color: var(--background-color);
    cursor: pointer;
    font-weight: 500;
    padding: 0.5em 1em;
    font-size: 1.125em;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    outline: 3px solid var(--color);
    transition: all 125ms ease;
}
button[type="submit"]:hover,
input[type="submit"]:hover {
    background-color: var(--yellow-500);
    outline-color: var(--yellow-500);
    transition: all 250ms ease;
}
button[type="submit"]:disabled,
input[type="submit"]:disabled {
    cursor: wait;
    background-color: var(--yellow-700);
}
button.secondary {}
button.secondary:disabled {}


/* This matches forms or form elements that are invalid *and* have been
interacted with. Note that:
1) You may need to add the `interacted` class to forms yourself
2) You may need to add the `touched` class to form fields yourself
3) `:user-invalid` is a working draft and not yet supported by most browsers
4) `:-moz-ui-invalid` is non-standard and only works in Firefox
Form validation error messages will appear (in capable browsers) regardless of
this styling. You can omit 1) and 2) and still have working forms. Perfect
example of progressive enhancement. */
/* Applies to invalid forms */
form.interacted:invalid {}
/* Applies to invalid form fields. You would need to repeat your declarations
for the following three groups of selectors individually. Browsers completely
ignore any rule that contains a selector they do not know. */
form.interacted :invalid, form .touched:invalid {}
:user-invalid {}
:-moz-ui-invalid {}

output {}

progress {}
meter {}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Interactive elements
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

details {}
details[open] {}
summary {}
details[open] summary {}

dialog {}
dialog::backdrop {}

/* Some form fields, `details`, elements with `tabindex`, and possibly other
elements can be focussed. You should use `:focus-visible` instead of `:focus`
whenever possible. As the former is not yet widely supported, you need to do it
as follows:
1) Set styling on focus
2) If browser supports `:focus-visible`, revert/unset the styling from 1)
3) If the element matches `:focus-visible`, apply the styling again */
:focus {}
:focus:not(:focus-visible) {}
:focus-visible {}

[inert], [inert] * {}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Media queries
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@media (prefers-reduced-motion: reduce) {
}

@media (prefers-color-scheme: dark) {
}

@media (orientation: portrait) {
}

@media (orientation: landscape) {
}

@media print {
}

@media (max-width: 512px) {
    fieldset .switcher label + label {
        border-top: 0;
    }
}

@media (min-width: 600px) {
    :root {
        --padding: 1.25rem;
    }

    nav ul { --space: 2rem; }

    nav li {
        --size: 0.625em;
    }
}

@media (min-width: 900px) {
    :root {
        --padding: 1.5rem;
    }

    nav ul { --space: 3rem; }

    nav li {
        --size: 0.675em;
    }
}

/*
This file evolved from Natural Selection:
https://github.com/frontaid/natural-selection
*/
