@charset "UTF-8";
/***
    The new CSS reset - version 1.8.2 (last updated 23.12.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
pre {
  all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: "";
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

.header {
  --gutter: 1rem;
  background-color: hsla(0deg, 0%, 100%, 0.75);
  backdrop-filter: blur(1rem);
  display: grid;
  font-weight: 500;
  grid-template-columns: minmax(var(--gutter), 1fr) min(100% - var(--gutter) * 2, 1200px) minmax(var(--gutter), 1fr);
  padding-block: 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
}
@media (min-width: 1200px) {
  .header {
    padding-block: 1rem;
  }
}

.header__content {
  grid-column: 2;
  display: flex;
  align-items: baseline;
}

.header__logo {
  margin-inline-end: auto;
  padding-block: 1rem;
}

@media (min-width: 900px) {
  .header__nav {
    grid-row: 1;
  }
}

.header__nav__toggle {
  padding-block: 1rem;
}
@media (min-width: 600px) {
  .header__nav__toggle {
    display: none;
  }
}

[data-width] {
  --width: attr(data-width px);
  width: var(--width) !important;
}

[data-width]::before {
  content: attr(data-width);
}

@media (max-width: 599px) {
  .header__nav__menu {
    display: none;
  }
}
@media (min-width: 600px) {
  .header__nav__menu {
    display: flex;
    gap: 2rem;
  }
}

.header__nav__menu__item {
  padding-block: 1rem;
  position: relative;
  text-align: center;
}
.header__nav__menu__item:nth-of-type(3) {
  grid-column: 4;
}
.header__nav__menu__item:nth-of-type(4) {
  grid-column: 5;
}
.header__nav__menu__item::after {
  background-color: currentColor;
  content: "";
  display: block;
  height: 1px;
  inset: auto 0 0;
  position: absolute;
  transform: scaleX(0);
  transition: 125ms ease;
}
@media (min-width: 600px) {
  .header__nav__menu__item:focus::after, .header__nav__menu__item:hover::after {
    transform: scaleX(1);
    transition: 250ms ease;
  }
}

.header__nav__menu__item__link {
  font-size: 0.875em;
  letter-spacing: 0.05em;
  padding-block: 1rem;
  text-transform: uppercase;
}

.section {
  --opacity: 0.15;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2rem;
  margin-block: 3rem;
  padding-block: 3rem;
}
@media (min-width: 600px) {
  .section {
    grid-template-columns: repeat(8, 1fr);
  }
}

.section + .section {
  border-bottom: 1px solid currentColor;
}

.section__heading {
  font-size: 4rem;
  grid-column: 1/-1;
  letter-spacing: -0.02em;
  margin-block-end: 4rem;
}

.section__heading--primary {
  font-size: clamp(3rem, 18.6875vw, 18rem);
  letter-spacing: -0.04em;
  line-height: 0.85em;
  margin-block-end: 0;
}

.section--hero {
  display: grid;
  min-height: 100vh;
  place-content: center;
  padding-block-start: 0;
}

.section__figure {
  aspect-ratio: 2.13/3.39;
  border: 1px solid currentColor;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  max-inline-size: 300px;
  justify-self: center;
}
.section__figure div {
  border: 1px solid currentColor;
  margin-block-end: 18.2890855%;
  margin-block-start: 8.55457227%;
  max-block-size: 71.9764012%;
  max-inline-size: 84.9765258%;
}
.section__figure img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
@media (min-width: 600px) {
  .section__figure {
    grid-column: 6/span 3;
  }
}

@media (min-width: 600px) {
  .section--stay .section__content {
    grid-column: 4/span 5;
  }
}
@media (max-width: 599px) {
  .section--stay .section__figure {
    margin-block-start: 3rem;
  }
}
@media (min-width: 600px) {
  .section--stay .section__figure {
    grid-column: 1/span 3;
    grid-row: 1;
  }
}

.columns {
  display: grid;
  column-gap: 1.5rem;
}
@media (max-width: 599px) {
  .columns {
    grid-template-columns: 1fr 1fr;
    order: 1;
  }
}
@media (min-width: 600px) {
  .columns {
    column-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1/6;
  }
}

.columns__cta {
  align-self: start;
  border: 1.5px solid currentColor;
  border-radius: 0.25rem;
  font-weight: 400;
  grid-column: 1/span 2;
  letter-spacing: 0.1em;
  margin-block-start: 3rem;
  padding: 0.75rem 1rem;
  text-align: center;
}

.column__heading {
  font-family: inherit;
  font-size: 1.125rem;
  font-weight: 500;
  margin-block: 3rem 1.5rem;
}

.column__content > * + * {
  margin-block-start: 0.75rem;
}

.column__content__address {
  align-items: start;
  display: flex;
}
.column__content__address::before {
  content: url("../public/assets/svg/map-pin.svg");
  margin-inline-end: 0.5rem;
}

.column__content__price {
  align-items: start;
  display: flex;
}
.column__content__price::before {
  content: url("../public/assets/svg/credit-card.svg");
  stroke: red;
  margin-inline-end: 0.5rem;
}

.column__content__distance {
  align-items: start;
  display: flex;
}
.column__content__distance::before {
  content: url("../public/assets/svg/map.svg");
  margin-inline-end: 0.5rem;
}

.column__content__datetime {
  align-items: baseline;
  display: flex;
}
.column__content__datetime span {
  font-size: 0.875em;
  font-variant: small-caps;
  padding-inline-start: 0.125rem;
}
.column__content__datetime::before {
  content: url("../public/assets/svg/clock.svg");
  margin-inline-end: 0.5rem;
}

.overflow-x {
  overflow-x: auto;
  overscroll-behavior-x: contain;
  background-color: hsl(0deg, 50%, 99%);
  grid-column: 1/-1 !important;
}

.gallery {
  --scroll-padding-inline: calc((100vw - 1200px) / 2);
  display: grid;
  gap: 2rem;
  grid-auto-columns: 300px;
  grid-auto-flow: column;
  padding-inline: max(var(--scroll-padding-inline), var(--gutter));
  padding-block: 1rem;
}

.card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  position: relative;
  scale: 1;
  transition: all 125ms ease;
}
.card:focus, .card:hover {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
  scale: 1.0625;
  transition: all 250ms ease;
}
.card:last-child::after {
  position: absolute;
  content: "";
  inline-size: max(var(--scroll-padding-inline), var(--gutter));
  block-size: 100%;
  inset-block-start: 0;
  inset-inline-end: calc(max(var(--scroll-padding-inline), var(--gutter)) * -1);
}

.card.active {
  cursor: grabbing;
}

.card__wrapper {
  border-radius: 0 0 0.25rem 0.25rem;
  border-top-width: 0;
  padding: 1.5rem;
}

.card img {
  aspect-ratio: 16/9;
  border-radius: 0.25rem 0.25rem 0 0;
  object-fit: cover;
  display: block;
  height: auto;
  width: 100%;
  max-height: 300px;
}

.card__wrapper__heading {
  align-items: start;
  display: flex;
  font-family: inherit;
  font-size: 1.125rem;
  font-weight: 500;
  margin-block-end: 0.5rem;
}
.card__wrapper__heading::after {
  content: url("../public/assets/svg/external-link.svg");
  margin-inline-start: 0.5rem;
}

.card__wrapper__rating {
  margin-block-end: 2rem;
}

.card__wrapper__content {
  font-size: 0.875em;
}

.card__wrapper__content > * + * {
  margin-block-start: 0.375rem;
}

.card__wrapper__content__address {
  align-items: start;
  display: flex;
}
.card__wrapper__content__address::before {
  content: url("../public/assets/svg/map-pin.svg");
  margin-inline-end: 0.5rem;
}

.card__wrapper__content__price {
  align-items: start;
  display: flex;
}
.card__wrapper__content__price::before {
  content: url("../public/assets/svg/credit-card.svg");
  stroke: red;
  margin-inline-end: 0.5rem;
}

.card__wrapper__content__distance {
  align-items: start;
  display: flex;
}
.card__wrapper__content__distance::before {
  content: url("../public/assets/svg/map.svg");
  margin-inline-end: 0.5rem;
}

.card__wrapper__content__datetime {
  align-items: baseline;
  display: flex;
}
.card__wrapper__content__datetime span {
  font-size: 0.875em;
  font-variant: small-caps;
  padding-inline-start: 0.125rem;
}
.card__wrapper__content__datetime::before {
  content: url("../public/assets/svg/clock.svg");
  margin-inline-end: 0.5rem;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 6rem;
}

body {
  background-color: hsl(0deg, 0%, 99%);
  color: hsl(0deg, 0%, 15%);
  font-family: Roboto;
}

h1, h2, h3, h4 {
  font-family: "Yeseva One";
}

p {
  max-width: 75ch;
}

p + p {
  margin-block-start: 1rem;
}

.main,
.footer {
  --gutter: 1rem;
  display: grid;
  grid-template-columns: minmax(var(--gutter), 1fr) min(100% - var(--gutter) * 2, 1200px) minmax(var(--gutter), 1fr);
}
@media (min-width: 900px) {
  .main,
  .footer {
    --gutter: 2rem;
  }
}

.main > *,
.footer > * {
  grid-column: 2;
}

/*# sourceMappingURL=index.css.map */
